*{
    font-family: "massilia", sans-serif;
font-weight: 400;
font-style: normal;
padding: 0;
}


a{
    text-decoration: none;
}

body{
    background-color: #ececec;
}


h1{
    font-size: 5rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: black;
}

h2{
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

li a{
    color: rgb(241, 241, 241);
text-decoration: none;
background-color: black;
border-radius: 2rem;
padding: 1rem;

}

li a:hover{
    background-color: grey;
}



.menu ul{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;

    margin: 1rem;
}

.menu li{

list-style: none;
}


.img_container{
    width: 100%;
    overflow: hidden;
    height: 600px;
    border-radius: 2rem;
    margin-bottom: 1rem;
  background-image: url(header_img.jpg);
background-size: cover;
background-position: center;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.img_container h1{
    margin: 0;
    color:#faf9f5;
}





.categories{
 display: grid;
 margin: 1rem;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 1rem;
}
.categories div{
cursor: pointer;
background-color: black;
border-radius: 2rem;
color: #faf9f5;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background-image:url(accessories.jpg);
background-size: cover;
background-position: center;

}


.categories h2{
    text-align: center;
    margin: 0;
}

.categories div:hover{
    background-size: 110%;
}







.product{
    height: 600px;
    aspect-ratio: 2/3.4;
margin-left: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.product_img {
    display: flex;
    justify-content: center;
    align-content: center;
        border-radius: 0.5rem;
    overflow: hidden;
    background-color: white;
    height: 400px;
    filter: drop-shadow(0 0 0.2rem rgb(193, 193, 193));
}


.product_img img{
scale: 1;
transition: 0.2s ease-in-out;
z-index: 1;
}
.product_img img:hover{
scale: 1.1;
transition: 0.2s ease-in-out;

}


.product_text{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.brandname{
    font-weight: 100;
    margin: 0;
    margin-top: 1rem;
    transition: 0.5s ease-in-out;
}

.brandname p:hover{
text-decoration: underline;
transition: 0.2s ease-in-out;

}
.productdisplayname{
    font-weight: 800;
    margin-top: 0rem;
}



.product_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
    gap: 5rem;
}








.sale_text{
    display: flex;
    gap: 1rem;

}

.sale_text h3{
    margin: 0;
}

.sale_text h3:nth-child(1){
text-decoration: line-through;

}
.sale_text h3:nth-child(2){
color: red;

}


.sale_mark h3{
background-color: red;
padding: 0.7rem 0.4rem;
margin-top: 0rem;
color: white;
border-radius: 0rem 0rem 0.5rem 0.5rem;
font-size: 1rem;
}


.soldout_mark h3{
background-color: rgb(0, 0, 0);
padding: 0.7rem 0.4rem;
margin-top: 0rem;
color: white;
border-radius: 0rem 0rem 0.5rem 0.5rem;
font-size: 1rem;
}


.product_state{
    display: flex;
    gap:0.2rem;
}


.sold_out{
    opacity: 40%;
}
.sold_out img{
    opacity: 40%;
}
